<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruleteacher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RULETeacher">
        <activity android:name=".KoqApproval"></activity>
        <activity android:name=".TaskHistory" />
        <activity android:name=".RequestHistory" />
        <activity android:name=".EventHistory" />
        <activity android:name=".ApproveRequestActivity" />
        <activity android:name=".ApproveEventActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".ListStudentActivity" />
        <activity android:name=".ApproveActivity" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>